.auth-reg-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 24px;
    width: fit-content;
    padding: 36px;
    border-radius: 8px;
    background-color: var(--white-color);
}

.auth-reg-form p {
    font-size: 1.4em;
}

.auth-reg-form input {
    font-size: 1.2em;
    border: 0;
    background-color: var(--neutral-color);
    border-radius: 8px;
    width: 480px;
    padding: 8px;
    outline: 0;
}

.auth-reg-form button {
    width: fit-content;
    font-size: 1.2em;
    align-self: flex-end;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    color: var(--industrial-color);
    background-color: var(--neutral-color);
    transition: background-color 0.4s;
}

.auth-reg-form button:hover {
    background-color: var(--dns-color);
    transition: background-color 0.4s;
}

@media (max-width:1023px) {
    .auth-reg-form input {
        width: 240px;
        font-size: 16px;
    }
}