.auth-reg-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 36%;
    min-width: 300px;
    padding: 36px;
    border-radius: 8px;
    background-color: var(--white-color);
}

.auth-reg-form p {
    font-size: 1.4em;
}

.auth-reg-form h2 {
    font-size: 1.8em;
    margin-bottom: 24px;
}

.auth-reg-form input {
    font-size: 1.2em;
    border: 0;
    background-color: var(--neutral-color);
    border-radius: 8px;
    padding: 8px;
    outline: 0;
}

.auth-reg-form input[type=checkbox] {
    margin-bottom: 0;
}

.auth-reg-form button {
    align-self: flex-end;
    margin-top: 16px;
    min-width: 140px;
}

.input-password {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    background-color: var(--neutral-color);
    border-radius: 8px;
    margin-bottom: 16px;
}

.input-password input {
    margin-bottom: 0;
    width: 100%;
}

.password-visibility {
    position: absolute;
    right: 2px;
    margin-right: 4px;
}

@media (max-width:1023px) {
    .auth-reg-form {
        padding: 18px;
    }

    .auth-reg-form input {
        font-size: 16px;
    }
}