.auth-reg-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 36%;
    min-width: 320px;
    padding: 36px;
    border-radius: 8px;
    background-color: var(--white-color);
}

.auth-reg-form p {
    font-size: 1.4em;
}

.auth-reg-form h2 {
    font-size: 1.8em;
    margin-bottom: 24px;
}

.auth-reg-form input {
    font-size: 1.2em;
    border: 0;
    background-color: var(--neutral-color);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
    outline: 0;
}

.auth-reg-form button {
    align-self: flex-end;
    min-width: 140px;
}


@media (max-width:1023px) {
    .auth-reg-form {
        padding: 18px;
    }

    .auth-reg-form input {
        font-size: 16px;
    }
}