.catalog-content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em 2em;
}

.catalog-element {
    display: grid;
    width: 170px;
    height: 220px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
    padding: 4px 2px 4px 2px;
    background-color: var(--white-color);
    border-color: var(--industrial-color);
    border-radius: 8px;
    transition: border-color 0.4s;
}

.catalog-element-click {
    cursor: pointer;
    transition: color 0.4s;
}

.catalog-element-click:hover {
    color: var(--dns-color);
    transition: color 0.4s;
}

.catalog-element-img img {
    height: 144px;
}

.catalog-element-title {
    font-weight: bold;
}

.catalog-element-buy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.catalog-element-buy button {
    width: 48px;
    height: 48px;
    padding: 4px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background: 0;
    background-image: url(../img/shopping_cart.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: background-image 0.4s;
}

.catalog-element-buy button:hover {
    background-image: url(../img/shopping_cart_dns.png);
    transition: background-image 0.4s;
}

.catalog-element-buy button img {
    width: 36px;
}

.catalog-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 0 auto 2% auto;
    background-color: var(--white-color);
    border-radius: 8px;
}

.hidden {
    visibility: hidden;
}

.catalog-search input {
    height: 3em;
    font-size: 1em;
    flex-grow: 2;
    border-radius: 8px;
    border: 0;
    padding: 8px;
}

.catalog-search input:focus {
    outline: 0;
}

.catalog-search-button,
.catalog-clear-button {
    width: 36px;
    height: 36px;
    margin-right: 4px;
    border: 0;
    background: 0;
    background-size: 36px;
    background-repeat: no-repeat;
}

.catalog-search-button {
    background-image: url(../img/search.png);
    transition: background-image 0.4s;
}

.catalog-clear-button {
    background-image: url(../img/close.png);
    transition: background-image 0.4s;
}

.catalog-search-button:hover {
    background-image: url(../img/search_dns.png);
    transition: background-image 0.4s;
}

.catalog-clear-button:hover {
    background-image: url(../img/close_dns.png);
    transition: background-image 0.4s;
}

.catalog-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.catalog-pagination-left,
.catalog-pagination-right {
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 8px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-color: var(--white-color);
    background-position: center;
}

.catalog-pagination-left {
    background-image: url(../img/arrow_left.png);
    transition: background-image 0.4s;
}

.catalog-pagination-right {
    background-image: url(../img/arrow_right.png);
    transition: background-image 0.4s;
}

.catalog-pagination-left:hover {
    background-image: url(../img/arrow_left_dns.png);
    transition: background-image 0.4s;
}

.catalog-pagination-right:hover {
    background-image: url(../img/arrow_right_dns.png);
    transition: background-image 0.4s;
}

.catalog-pagination-current {
    font-size: 1.2em;
}
