.catalog-content {
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(186px, 186px));
    gap: 1em 2em;
}

.catalog-element {
    display: grid;
    width: 170px;
    height: 250px;
    text-align: center;
    grid-template-rows: 2fr 1fr;
    padding: 8px;
    background-color: var(--white-color);
    border-color: var(--industrial-color);
    border-radius: 8px;
    transition: border-color 0.4s;
}

.catalog-element-click {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    transition: color 0.4s;
}

.catalog-element-title {
    min-height: 48px;
    max-height: 48px;
    max-width: 170px;
    line-height: 24px;
    overflow: hidden;
}

.catalog-element-title p {
    max-height: 100%;
}

.catalog-element-click:hover {
    color: var(--dns-color);
    transition: color 0.4s;
}

.catalog-element-img {
    height: 144px;
}

.catalog-element-img img {
    max-height: 144px;
    max-width: 170px;
}

.catalog-element-title {
    font-weight: bold;
}

.catalog-element-buy {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.catalog-element-buy button {
    width: 48px;
    height: 48px;
    padding: 4px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background: 0;
    background-image: url(../../public/img/shopping_cart.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: background-image 0.4s;
}

.catalog-element-buy button:hover {
    background-image: url(../../public/img/shopping_cart_dns.png);
    transition: background-image 0.4s;
}

.catalog-element-buy button img {
    width: 36px;
}

.catalog-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 0 auto 16px auto;
    background-color: var(--white-color);
    border-radius: 8px;
}

.hidden {
    visibility: hidden;
}

.catalog-search input {
    height: 3em;
    flex-grow: 2;
    border-radius: 8px;
    border: 0;
    margin: 0;
    padding: 8px;
    background-color: var(--white-color);
}

.catalog-search input:focus {
    outline: 0;
}

.catalog-search-button,
.catalog-clear-button {
    width: 36px;
    height: 36px;
    margin-right: 4px;
    border: 0;
    background: 0;
    background-color: 0;
    background-size: 36px;
    background-repeat: no-repeat;
}

.catalog-search-button {
    background-image: url(../../public/img/search.png);
    transition: background-image 0.4s;
}

.catalog-clear-button {
    background-image: url(../../public/img/close.png);
    transition: background-image 0.4s;
}

.catalog-search-button:hover {
    background-color: transparent;
    background-image: url(../../public/img/search_dns.png);
    transition: background-image 0.4s;
}

.catalog-clear-button:hover {
    background-color: transparent;
    background-image: url(../../public/img/close_dns.png);
    transition: background-image 0.4s;
}

.search-result {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    font-size: 1.2em;
    line-height: 2em;
    background-color: var(--white-color);
}

.notification-block {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    height: 200px;
    right: 4px;
    bottom: 4px;
    gap: 2px;
    background-color: red;
}

.notification {
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    color: var(--industrial-color);
    background-color: var(--dns-color);
    opacity: 0;
    animation: ani 0.5s forwards
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

@media (max-width:1440px) and (min-width:1024px) {
    .catalog-content {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (max-width:1023px) {
    .catalog-content {
        grid-template-columns: 1fr 1fr;
        gap: 24px 4px;
    }

    .catalog-search {
        min-width: 320px;
    }
}