.contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.4em;
}

.contacts-content h1 {
    text-align: center;
}

.dns-map {
    width: 75vw;
    min-width: 320px;
    min-height: 240px;
    height: 66vh;
}