.contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 1.2em;
}

.dns-map {
    width: 70vw;
    height: 66vh;
}
