.main-title {
    text-align: center;
}

.main-content h1 {
    font-size: 3.5em;
}

.main-content h2 {
    font-size: 3em;
    text-align: center;
}

.main-content-grid {
    display: grid;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.main-brand-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    font-size: 1.66em;
}

.main-brand-element {
    display: flex;
    align-items: center;
    width: 120px;
    height: 60px;
    margin: 0 4px 8px 4px;
    padding: 4px;
    background-color: var(--white-color);
    border-radius: 12px;
    border: solid #333333 2px;
}

.main-brand-element img {
    display: block;
    margin: auto;
}

.main-go-purchasing {
    margin-top: 3%;
    text-align: center;
}

.main-go-purchasing button {
    padding: 12px;
    font-size: 1.8em;
    border-radius: 8px;
    border: none;
    color: var(--industrial-color);
    background-color: var(--white-color);
    transition: background-color 0.4s;
}

.main-go-purchasing button:hover {
    background-color: var(--dns-color);
    transition: background-color 0.4s;
}

@media (max-width:1023px) {
    .main-content-grid {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .main-brand-grid {
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }
}