.main-title {
    text-align: center;
}

.main-content h1 {
    font-size: 3.5em;
}

.main-content-grid {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.carousel__inner-slide {
    display: flex;
    justify-content: center;
}

.brands-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-content-text {
    font-size: 3em;
    text-align: center;
    margin-bottom: 24px;
}

.carousel-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 136px;
    margin-bottom: 64px;
    gap: 4px;
}

.carousel-slider {
    flex-grow: 1;
    height: 136px;
}

.carousel-slider a {
    display: block;
    width: fit-content;
}

.carousel-button-back,
.carousel-button-next {
    background-color: var(--white-color);
    background-size: 36px;
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    transition: background-image 0.4s;
}

.carousel-button-back {
    background-image: url('/public/img/arrow_left.png');
}

.carousel-button-back:hover,
.carousel-button-next:hover {
    background-color: var(--white-color);
    transition: background-image 0.4s;
}

.carousel-button-back:hover {
    background-image: url('/public/img/arrow_left_dns.png');
}

.carousel-button-next:hover {
    background-image: url('/public/img/arrow_right_dns.png');
}


.carousel-button-next {
    background-image: url('/public/img/arrow_right.png');
}

.main-brand-element {
    display: flex;
    align-items: center;
    width: 120px;
    height: 60px;
    padding: 4px;
    background-color: var(--white-color);
    border-radius: 12px;
}

.main-brand-element img {
    display: block;
    margin: auto;
}

.main-go-purchasing {
    text-align: center;
    margin-bottom: 32px;
}

.main-go-purchasing button {
    font-size: 1.8em;
    background-color: var(--white-color);
}

.main-go-purchasing button:hover {
    background-color: var(--dns-color);
    transition: background-color 0.4s;
}

@media (max-width:1023px) {
    .main-content-grid {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 12px;
    }

    .main-content h1 {
        font-size: 28px;
    }

    .main-content p {
        font-size: 20px;
    }

    .main-go-purchasing button {
        font-size: 20px;
    }

}

@media (max-width:769px) {

    .carousel-button-back,
    .carousel-button-next {
        opacity: 0%;
        position: absolute;
        transition: opacity 0.4s;
    }

    .carousel-button-back {
        left: 0;
    }

    .carousel-button-next {
        right: 0;
    }

    .carousel-block:hover .carousel-button-back,
    .carousel-block:hover .carousel-button-next {
        opacity: 66%;
        transition: opacity 0.4s;
    }
}