.main-title {
    text-align: center;
}

.main-content h1 {
    font-size: 3.5em;
}

.main-content-grid {
    display: grid;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.main-content-text {
    font-size: 3em;
    text-align: center;
    margin-bottom: 24px;
}

.main-brand-grid {
    display: grid;
    margin-bottom: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    font-size: 1.66em;
}

.main-brand-grid a{
    width: fit-content;
}

.main-brand-element {
    display: flex;
    align-items: center;
    width: 120px;
    height: 60px;
    margin: 0 4px 16px 4px;
    padding: 4px;
    background-color: var(--white-color);
    border-radius: 12px;
}

.main-brand-element img {
    display: block;
    margin: auto;
}

.main-go-purchasing {
    margin-top: 3%;
    text-align: center;
}

.main-go-purchasing button {
    font-size: 1.8em;
    background-color: var(--white-color);
}

.main-go-purchasing button:hover {
    background-color: var(--dns-color);
    transition: background-color 0.4s;
}

@media (max-width:1023px) {
    .main-content-grid {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 12px;
    }

    .main-brand-grid {
        grid-template-columns: 1fr 1fr;
        gap: 12px 48px;
    }

    .main-content h1 {
        font-size: 36px;
    }

    .main-content p {
        font-size: 28px;
    }

}