@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --dns-color: #FE7C00;
    --neutral-color: #f5f5f5;
    --white-color: white;
    --industrial-color: #333333;

}

body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: var(--neutral-color);
}

header {
    margin-top: 4px;
    display: grid;
    position: sticky;
    height: 100px;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    background-color: var(--industrial-color);
    border-radius: 16px;
    box-shadow: 6px 4px 4px var(--industrial-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 1.4em;
    color: var(--dns-color);
    font-weight: 600;
}

.header-logo {
    height: inherit;
    background: url(./img/DNS_LOGO.png);
    background-size: auto 100px;
    background-repeat: no-repeat;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link-active {
    text-decoration: underline;
}

main {
    margin: 4% 0 4% 0;
    min-height: 64vh;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.main-title {
    text-align: center;
}

.main-content h1 {
    font-size: 3.5em;
}

.main-content h2 {
    font-size: 3em;
    text-align: center;
}

.main-content-grid {
    display: grid;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.main-brand-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    font-size: 1.66em;
}

.main-brand-element {
    display: flex;
    align-items: center;
    width: 120px;
    height: 60px;
    margin: 0 4px 8px 4px;
    padding: 4px;
    border-radius: 12px;
    border: solid #333333 2px;
}

.main-brand-element img {
    display: block;
    margin: auto;
}

.main-go-purchasing {
    margin-top: 3%;
    text-align: center;
}

.main-go-purchasing button {
    padding: 8px;
    font-size: 2em;
    border-radius: 16px;
    border: none;
    transition: background-color 0.5s;
}

.main-go-purchasing button:hover {
    background-color: var(--dns-color);
    transition: background-color 0.5s;
}

.about-content {
    font-size: 1.2em;
    text-indent: 1.2em;
    line-height: 1.5em;
}

.about-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-grid-block {
    padding: 0 16px 8px 16px;
}

.catalog-content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.catalog-element {
    display: grid;
    width: 170px;
    height: 220px;
    margin-bottom: 1em;
    text-align: center;
    grid-template-rows: 2fr 1fr;
    padding: 4px 2px 4px 2px;
    background-color: var(--white-color);
    border-color: var(--industrial-color);
    border-radius: 8px;
    transition: border-color 0.4s;
}

.catalog-element-click {
    cursor: pointer;
    transition: color 0.4s;
}

.catalog-element-click:hover {
    color: var(--dns-color);
    transition: color 0.4s;
}

.catalog-element-img img {
    height: 144px;
}

.catalog-element-title {
    font-weight: bold;
}

.catalog-element-buy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.catalog-element-buy button {
    width: 48px;
    height: 48px;
    padding: 4px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background: 0;
    background-image: url(img/shopping_cart.png);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: background-image 0.4s;
}

.catalog-element-buy button:hover {
    background-image: url(img/shopping_cart_dns.png);
    transition: background-image 0.4s;
}

.catalog-element-buy button img {
    width: 36px;
}

.catalog-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 0 auto 2% auto;
    background-color: var(--white-color);
    border-radius: 8px;
}

.hidden {
    visibility: hidden;
}

.catalog-search input {
    height: 3em;
    flex-grow: 2;
    border-radius: 8px;
    border: 0;
    padding: 8px;
}

.catalog-search input:focus {
    outline: 0;
}

.catalog-search-button,
.catalog-clear-button {
    border: 0;
    background: 0;
    width: 36px;
    height: 36px;
    background-size: 36px;
    background-repeat: no-repeat;
}

.catalog-search-button {
    background-image: url(img/search.png);
    transition: background-image 0.4s;
}

.catalog-clear-button {
    background-image: url(img/close.png);
    transition: background-image 0.4s;
}

.catalog-search-button:hover {
    background-image: url(img/search_dns.png);
    transition: background-image 0.4s;
}

.catalog-clear-button:hover {
    background-image: url(img/close_dns.png);
    transition: background-image 0.4s;
}

footer {
    height: 20px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--dns-color);
    margin-bottom: 12px;
    padding: 16px;
    background-color: var(--industrial-color);
    border-radius: 16px;
    box-shadow: 6px 4px 4px var(--industrial-color);
}